<div class="container">
    <div class="header">
        <h1 class="header__title">Photos</h1>
        <div class="header__search">
            <input type="textbox" class="header__search__textbox" placeholder="Search">
            <i class="fa fa-search header__search__icon"></i>
        </div>
    </div>

    <div class="cinema">
        <img class="cinema__photo"
             src="https://farm{{photos.photo.0.farm}}.staticflickr.com/{{photos.photo.0.server}}/{{photos.photo.0.id}}_{{photos.photo.0.secret}}.jpg">
        <p>Photographer credit: <span id="photographer-name">{{photos.photo.0.owner}}</span></p>
        <div class="cinema__share hidden">
            <div class="cinema__share--twitter">
                <a href="http://twitcount.com/btn" class="twitcount-button" data-count="vertical" data-size="small"
                   data-text="" data-url="" data-via="" data-related="" data-hashtags="">TwitCount</a>
                <script type="text/javascript" src="http://static1.twitcount.com/js/button.js"></script>
            </div>
            <div class="cinema__share--facebook">
                <div data-show-faces="false" data-width="450" data-layout="box_count" data-send="false"
                     class="fb-like fb_iframe_widget" fb-xfbml-state="rendered"
                     fb-iframe-plugin-query="app_id=&amp;container_width=90&amp;href=http%3A%2F%2Flesvosbirding.com%2Fsocial-media%2F&amp;layout=box_count&amp;locale=en_GB&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=450">
                    <span style="vertical-align: bottom; width: 51px; height: 61px;"><iframe width="450px"
                                                                                             height="1000px"
                                                                                             frameborder="0"
                                                                                             name="f3075fc5285cf92"
                                                                                             allowtransparency="true"
                                                                                             allowfullscreen="true"
                                                                                             scrolling="no"
                                                                                             title="fb:like Facebook Social Plugin"
                                                                                             style="border: medium none; visibility: visible; width: 51px; height: 61px;"
                                                                                             src="https://www.facebook.com/plugins/like.php?app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Df2d8214efb69592%26domain%3Dlesvosbirding.com%26origin%3Dhttp%253A%252F%252Flesvosbirding.com%252Ff119dfc07e8333%26relation%3Dparent.parent&amp;container_width=90&amp;href=http%3A%2F%2Flesvosbirding.com%2Fsocial-media%2F&amp;layout=box_count&amp;locale=en_GB&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=450"
                                                                                             class=""></iframe></span>
                </div>
            </div>
            <div class="cinema__share--gplus">
                <div style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent none repeat scroll 0% 0%; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 57px; height: 60px;"
                     id="___plus_3">
                    <iframe width="100%" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no"
                            style="position: static; top: 0px; width: 57px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 60px;"
                            tabindex="0" vspace="0" id="I8_1468362966250" name="I8_1468362966250"
                            src="https://apis.google.com/u/0/se/0/_/+1/sharebutton?plusShare=true&amp;usegapi=1&amp;height=60&amp;annotation=vertical-bubble&amp;action=share&amp;origin=http%3A%2F%2Flesvosbirding.com&amp;url=http%3A%2F%2Flesvosbirding.com%2Fsocial-media%2F&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.8prJs7b3ioc.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCNheFUefZfBy5AmIBZzwodH2wxJ3g#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I8_1468362966250&amp;parent=http%3A%2F%2Flesvosbirding.com&amp;pfname=&amp;rpctoken=37607500"
                            data-gapiattached="true" title="+Share"></iframe>
                </div>
            </div>
        </div>
        <button class="cinema__button--share">Share</button>
        <hr>
    </div>
    <div class="photos">
        {{#each photos.photo}}
            <div class="photos__container">
                <img class="photos__photo" alt="{{title}}" title="{{title}}" data-photographer="{{owner}}"
                     src="https://farm{{farm}}.staticflickr.com/{{server}}/{{id}}_{{secret}}.jpg">
            </div>
        {{/each}}
    </div>

    <div class="pagination">
        {{#ifCondNot photos.page 1}}
            <a class="pagination__link" data-page="1" href="javascript:void(0)">
                <i class="fa fa-angle-double-left"></i>
            </a>

            <a class="pagination__link" data-page="{{math photos.page "-" 1}}" href="javascript:void(0)">
                <i class="fa fa-angle-left"></i>
            </a>
        {{/ifCondNot}}

        <a class="pagination__link--selected" data-page="{{photos.page}}"
           href="javascript:void(0)">{{photos.page}}</a>

        {{#ifCondNot photos.page photos.pages}}
            <a class="pagination__link" data-page="{{math photos.page "+" 1}}" href="javascript:void(0)">
                <i class="fa fa-angle-right"></i>
            </a>
            <a class="pagination__link" data-page="{{photos.pages}}" href="javascript:void(0)">
                <i class="fa fa-angle-double-right"></i>
            </a>
        {{/ifCondNot}}
    </div>
    <hr>

    <script type="text/javascript">
        $('.pagination').on('click', 'a', function () {
            gallery.set_page($(this).data('page'));
            gallery.load_photos();
        });

        $('.photos__photo').on('click', function () {
            $('.cinema__photo').prop('src', $(this).prop('src'));
            $('.cinema__photo').prop('title', $(this).prop('title'));
            $('#photographer-name').html($(this).data('photographer'));
            window.scrollTo(0, 0);
        });

        $('.header__search__icon').on('click', function () {
            gallery.set_search($('.header__search__textbox').val());
            gallery.load_photos();
        });

        $('.header__search__textbox').on('keypress', function (e) {
            if (e.keyCode === 13) {
                gallery.set_search($(this).val());
                gallery.load_photos();
            }
        });

        $('.cinema__button--share').on('click', function () {
            $('.cinema__share').toggleClass('hidden');
        })
    </script>
</div>